/* FONT */

body {
  font-family: 'Montserrat', sans-serif;
  color: #7b7e82;
}

h1 {
  color: white;
}

/* GENERAL */
 
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}