/* ASIDE */

aside {
  width: 300px;
  height: calc(100vh - 100px);
  background-color: #000000;
  padding-left: 20px;
  overflow-y: auto;
}

.logo {
  height: 100px;
}

.logo img {
  height: 100px;
  width: 150px;
}

aside li img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

aside li {
  margin-bottom: 10px;
}

.playlist h5 {
  color: white;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -10px;
}

.playlist ul li i {
  width: 40px;
  height: 40px;
  color: black;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #a3a3a3;
}

.playlist li {
  margin: 20px 0;
}

.aside-bottom {
  width: 100%;
  height: 50px;
}

.aside-bottom i {
  margin-right: 10px;
}

.aside-bottom .install {
  margin-bottom: 10px;
}

.aside-bottom .profile {
  margin-top: 15px;
  margin-bottom: 10px;
}

.profile i {
  background-color: #808080;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.profile span {
  color: white; 
  font-weight: bold;
}

aside li:hover {
  color: white;
}

/* SECTION */

section {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  background-color: #141922;
  overflow-y: auto;
}

section div {
  width: 100%;
  height: 100px;
}

.cd-section {
  padding-left: 20px;
}

.cd-section h1 {
  margin-bottom: 15px;
  font-weight:bolder;
}

.cd-section h4 {
  margin-bottom: 30px;
}

.cd {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cd img {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 200px;
}

.third-row .cd img {
  border-radius: 50%;
}

.cd-section .cd span:first-of-type {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.cd span {
  text-align: center;
}

/* BANNER */

banner {
  width: 100%;
  height: 100px;
  /* background-color: #080b12; */
  background-color: rgba(8, 11, 18, 0.5);

  position: fixed;
}

banner button {
  background-color: #080b12;
  color: white;
  padding: 10px 45px;
  border-radius: 50px;
  position: absolute; 
  top: 25px;
  right: 287px;
}

/* HEADER */

header {
  width: 100%;
  height: 50px;
  background-color: #141922;
}

header nav ul li {
  display: inline-block;
  padding-right: 20px;
  font-size: bold;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
}

header nav ul li:hover {
  color: white; 
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#underlined {
  border-bottom: 2px solid #adff2f;
  padding-bottom: 2px;
  position: relative;
}

.cover1 {
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #141922;
}

.cover2 {
  position: absolute;
  right:0;
  width: 56px;
  height: 4px;
  background-color: #141922;
}

/* FOOTER */

footer {
  width: 100%;
  height: 100px;
  background-color: #282828;
}

.footer-left img {
  height: 70px;
  width: 70px;
}

.footer-left .name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 70px;
}

.footer-left i {
  margin-right: 20px;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  width: 20%;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.footer-center i {
  /* width: 80px; */
  /* height: 80px; */
  /* background-color: red; */
  margin-right: 20px;
}

.footer-center .buttons {
  height: 50%;
  padding-top: 20px;
}

.footer-center .timing {
  height: 50%;
  padding-top: 10px;
}

.footer-center .timing span {
  margin-right: 15px;
}

.footer-right {
  width: 20%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}



